{% extends 'base.html.twig' %}

{% block body %}
    {# RECORRO LOS POSTS Y MUESTRO EL TITULO CON
       UN ENLACE
    #}
    <div class="container">
        <div class="row">
            {% for msg in app.flashes('exito') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ msg }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            {% for post in posts %}
                <div class="col">
                    <p><a href="{{ path('detalles_articulo', { 'title' : post.title}) }}">{{ post.title }}</a></p>
                </div>
                <div class="col">
                    <a class="btn btn-secondary" href="{{ path('edit_post', {'id': post.id }) }}">Editar</a>
                </div>
            {% endfor %}

            <a class="btn btn-primary" href="{{ path('show-form') }}">CREAR POST</a>
        </div>
    </div>
{% endblock %}

{% block title %}
    Listado de blogs
{% endblock %}

