{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/estilos-posts.css') }}"/>
{% endblock %}
{% block body %}
    {# RECORRO LOS POSTS Y MUESTRO EL TITULO CON
       UN ENLACE
    #}

    {% for post in posts %}
        <p><a href="{{ path('detalles_articulo', { 'title' : post.title}) }}">{{ post.title }}</a></p>
    {% endfor %}

    {{ autor | default("ANONIMO") }}
{% endblock %}

{% block title %}
    Listado de blogs
{% endblock %}

